.categories_page{
    margin: 53px auto;
}

.categories_page h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 72px;
}

.cards_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 92px;
    row-gap: 38px;
}