.products {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
  
  .sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search_form input,
  .sort_select {
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    width: 100px;
    margin-right: 10px;
  }
  
  .search_form {
    display: inline;
  }
  
  .search_form button {
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    width: 100px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .search_form button:hover {
    color: white;
    background-color: #34495E;
  }